<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обработка изображения</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Редактирование изображения</h1>
    <img id="image-preview" src="{{ url_for('static', filename='uploads/' + filename) }}" style="max-width: 764px; max-height: 500px;">
    <br>
    <label for="brightness">Яркость:</label>
    <input type="range" id="brightness" name="brightness" min="0" max="2" step="0.1" value="1">
    <br>
    <label for="contrast">Контраст:</label>
    <input type="range" id="contrast" name="contrast" min="0" max="2" step="0.1" value="1">
    <br>
    <button id="save" class="btn btn-success">Сохранить</button>
</div>

<script>
$(document).ready(function() {
    $('#brightness, #contrast').on('input', function() {
        var brightness = $('#brightness').val();
        var contrast = $('#contrast').val();
        $.post(`/process/{{ filename }}`, { brightness: brightness, contrast: contrast }, function(data) {
            $('#image-preview').attr('src', '/uploads/' + data.filename);
        }).fail(function() {
            alert("Error processing image");
        });
    });

    $('#save').click(function() {
        // Логика для сохранения
    });
});
</script>
</body>
</html>
